<h2>{{ post ? 'Editar Post' : 'Novo Post' }}</h2>


<form (ngSubmit)="onSubmit()" #form="ngForm" class="mb-6 space-y-4">
  <input
    type="text"
    name="title"
    [(ngModel)]="formData.title"
    placeholder="Título"
    required
    class="w-full p-2 border rounded"
    aria-label="Título do post"
  />
  <textarea
    name="body"
    [(ngModel)]="formData.body"
    placeholder="Conteúdo"
    required
    class="w-full p-2 border rounded"
    aria-label="Conteúdo do post"
  ></textarea>
 <div class="flex justify-end gap-2">
  <button
    type="button"
    (click)="cancel.emit()"
    class="bg-gray-300 text-gray-800 px-4 py-2 rounded hover:bg-gray-400"
  >
    Cancelar
  </button>

  <button
    type="submit"
    [disabled]="form.invalid"
    class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700"
  >
    {{ post ? 'Salvar Alterações' : 'Criar Post' }}
  </button>
</div>

</form>